html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow: hidden;
}

body {
  color: rgba(255, 255, 255, 0.75);
  background-color: rgb(25, 25, 25);
}

.line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14em;
  font-size: 180%;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

/* 动画 */
.anim-typewriter {
  animation: typewriter 4s steps(40) 1s 1 normal both,
              blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter{
  from {
    width: 0;
  }
  to {
    width: 14em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}